<script>
  $(function(){
    $('a[href^=#]').click(function() {
      var speed = 400;
      var href= $(this).attr("href");
      var target = $(href == "#" || href == "" ? 'html' : href);
      var position = target.offset().top;
      $('body,html').animate({scrollTop:position}, speed, 'linear');
      return false;
    });
  });
</script>

<div class="photo__image">
	<%= image_tag "blue.jpg", class: "photo__image__el" %>
	<div class="photo__image__ms">Keisuke Kanda's Portfolio</div>
</div>

<div class="contents">
	<ul class="list" >
		<li class="list__el"><a href="#sec1">Profile</a></li>
		<li class="list__el"><a href="#sec2">Future</a></li>
		<li class="list__el"><a href="#sec3">Skill</a></li>
		<li class="list__el"><a href="#sec4">Works</a></li>
		<li class="list__el"><a href="#sec5">Contact</a></li>
	</ul>

	<div id="sec1">
		<div class="sec_el">Profile</div>
		<div class="profile">
			<div class="profile__image">
				<%= image_tag "profile2.jpeg", class: "profile__image__el" %>
			</div>
			<div class="profile__content">
				<p>
					はじめまして、神田圭佑と申します。
					<br>
					<br>
					<br>
					・年齢　28歳
					<br>
					・居住地　福岡県（就職は東京都を予定）
					<br>
					・これまでの経歴
					<br>
					　出身地は熊本県で、小学校2年生の頃に父親の仕事の関係で福岡県北九州市に移住しました。中学は地元の思永中学校に入学し、勉強と人間関係の構築に努力しておりました。勉強は国語と数学が得意で、特に数学の証明問題を解くのが好きでした。問題に対してじっくりと本質をとらえ、証明の形を作り、全体が繋がる感覚がとても楽しかったことを覚えています。
					<br>
					　高校は地元の門司大翔館高校に入学しました。高校では英語が得意になり文系を選択しました。また、ラグビー部に所属しました。中学では何もしていなかったため不安しかありませんでしたが、高校に変化を求めていた私は挑戦してみたいという思いが強くなり、入部することを決意しました。同期は皆スポーツの経験者だったこともありものすごく大変でしたが、練習後に一人でタイヤ押しをするなど、同期の誰よりも努力することで最終的にはフォワードリーダーという立ち位置まで任せてもらえるようになりました。
					<br>
					　大学は福岡大学の商学部商学科に入学しました。商学部を選択した理由は、マーケティングなど、社会に出た際により実用的な知識を得たいと考えていたためです。ゼミは保険論を選択し、メンバーとコミュニケーションをとりつつ保険の仕組みについて学習を深めました。卒業論文では、中学時代の友人が船乗りの仕事をしていて話を聞いていたので、海上保険について研究しました。また、課外活動として少林寺拳法部に所属しました。入部理由は、父が少林寺拳法をやっていて非常に興味を持っていたためです。活動の中でとても気の合う仲間と出会うことができ、3回生では主将を、4回生では九州学生少林寺拳法連盟の委員長を務めさせていただきました。なお、九州学生少林寺拳法連盟とは、九州中の大学少林寺拳法部における大会や合宿などの運営や統括を行う組織になります。人を率いる立場を2年間務めることで、相手の気持ちを考えることの重要性や孤独感との向き合い方など、多くのことを学ぶことができました。
					<br>
					　その後、新卒で福岡県警察に入職しますが、自分に合わず退職。働くことに対して自分の考えを整理し、自分のした仕事が人に貢献できるような職業につきたいという思いから、前職である社会福祉法人北九州市福祉事業団に入職しました。前職は、福岡県北九州市にある社会福祉施設の一部を、市より委任を受け運営する団体になります。その中でも、私は保育所16所及び緑地センター2所を管理しました。保育所は社会的に需要が高まっている中、労働環境に多く課題を抱える業界の１つであり、現場の環境を整える立場としてひたすらに何かの課題と向き合う日々を送りました。現場や上司から強く言われることもありましたが、それに刺激を受けさらに深く考えるという過程は、確かな成長を感じることができました。精神面以外で前職で身につけたスキルとしては、全体を俯瞰して的確に課題に取り組むこと、書類作成等における正確性の、主に２つになります。前職は非常に恵まれた環境ではありましたが、不満もありました。それは、業界に対する志望動機でもあった”自分の仕事が人に貢献できること”において、事務職という立ち位置ではその貢献感を実感することができないことでした。そんな中、業務の中でIT技術に触れる機会があり、技術によって保育現場の業務がダイレクトに改善される状況を目の当たりにし、IT技術の可能性に感銘を覚えるということがありました。その出来事から、ITエンジニアになることができれば貢献感の実感を得ることができるのではないかと考えるようになり、転職を決意しました。
					<br>
					　そして、今年の3月末で前職を退職し、ITエンジニアになるべくプログラミングスクールに2ヶ月間通い、現在に至ります。スクールでは、Ruby on Railsを軸とした、開発に関わる技術を網羅的に学習しました。最終課題ではチーム開発に取り組み、開発におけるコミュニケーションなどを学ぶことができました。
					<br>
					<br>
					<br>
					以上がプロフィールになります。
					<br>
					私の強みは経験の中で得た課題解決力であり、役割に誠実に取り組むことで御社に必ず貢献致しますので、何卒よろしくお願い致します。
				</p>
			</div>
		</div>
		<div class="button">
			<a class="button__el" href="#index">▲</a>
		</div>
	</div>

	<div id="sec2">
		<div class="sec_el">Future</div>
		<div class="future">
			<p>
				＜分野＞
				<br>
				　福祉系の分野に携わりたいと考えております。介護や保育の現場で苦労されている方々のストレスをIT技術をもって軽減することにより、御社に対してはもちろん、社会に対しても貢献をしたいと考えております。前職で保育所の事務的な管理の職務にあたっておりましたが、保育士が足りていない現場では、時間が常に不足している中での書類の作成や施設の老朽化による修繕の依頼など、自転車操業のような状態が続いていました。私は、多大なストレスを抱え自らの責任と日々向き合っている現場の方々の待遇が改善されるように、社会全体で支えることは必須だと考えております。そして、現実的に保育士の現場が改善される手段としてのIT技術は重大な役割を持つと考えます。社会的意義が極めて高い福祉業界で、現実的な課題解決を提示できるITエンジニアになりたいという思いから、私は福祉業界を志望いたします。
				<br>
				＜ポジション＞
				<br>
				　サーバーサイドエンジニアを志望いたします。理由は2つあります。1点目が、チームや自分が考えた課題への解決策を具体的に形にしやすいポジションであると考えるためです。システムがどのように動くかを創るということは、課題に対してどのように解決するのかということとイコールであると考えます。それは、自分の手で作ったものが社会に貢献されることを意味するため、貢献感の実感を得ることができるのではないかと考えております。2点目が、自分の書いたプログラミングコードが思ったように動く感覚が好きだからです。頭の中でコード全体の構造を考え、パズルを組み立てるように手を動かし、最後にコードが正常に稼働するという過程を今後も繰り返していき、スキルを高め続けたいと思っております。
				<br>
				＜作りたいサービス＞
				<br>
				　働く方の単純作業の自動化を、現場によってスケールさせ、仕様変更に対しより柔軟なシステムを作りたいと考えております。業界が違うことで起こるニーズの差異はもちろん、同じ業界の中ですら現場によって需要は異なります。保育業界で言えば、出欠管理などのシステムにおいて重要なことは便利さよりも実際に使用する際の敷居の低さであると考えています。保育現場では時間がない状態が常であり、使用する際にシステムに取っ付きにくさや操作方法の習得に一定以上のコストがかかれば、現場の保育士の負担は逆に大きくなります。まして、その状態でエラーでも起これば、現場の不満はたまる一方です。このような現場でのニーズは、よりシンプルな操作方法とエラーの発生しない安定性が必要になります。その需要に対して、柔軟に対応できるようなシステムを作りたいと考えております。
				<br>
				＜長期目標＞
				<br>
				　長期的には、あらゆる技術に精通したフルスタックエンジニアを目指しております。多種多様な技術を扱えるようになることで、できる限り多くの人や組織に貢献し、自分の手で作ったものによって、貢献感の実感を常に持ち続けられるようなエンジニアになりたいと思っております。
			</p>
		</div>
		<div class="button">
			<a class="button__el" href="#index">▲</a>
		</div>
	</div>

	<div id="sec3">
		<div class="sec_el">Skill</div>
		<div class="skill">
			<p>
				HTML・CSS・Ruby・Ruby on Rails・JavaScript・jQuery・SQL・Git・GitHub・Haml・SCSS・AWS・Docker・CircleCI・Vue.js 
				<br>
				<br>
				【現在】
				<br>
				個人アプリ開発で学習を進めたAWS,Docker,CircleCIについて、さらに技術を深めています。
				<br>
				具体的には、CircleCIによるCI/CDパイプラインの構築について、学習を進めています。
			</p>
		</div>
		<div class="button">
			<a class="button__el" href="#index">▲</a>
		</div>
	</div>

	<div id="sec4">
		<div class="sec_el">Works</div>
		<div class="works">
			<div class="works__el">
				<%= image_tag "growool.png", class: "works__el__c" %>
				<a href="http://54.248.135.239/">Growool</a>
				<p>自己研鑽のための情報共有アプリ</p>
				<a href="https://github.com/keisuke-kk/growool2">git hub</a>
			</div>
			<div class="works__el">
				<%= image_tag "furima.png", class: "works__el__c" %>
				<a href="http://52.192.17.240/">FURIMA</a>
				<p>フリマアプリのコピーサイト</p>
				<a href="https://github.com/keisuke-kk/freemarket_sample_74a">git hub</a>
			</div>
			<div class="works__el">
				<%= image_tag "startcook.png", class: "works__el__c" %>
				<a href="https://startcook.herokuapp.com">StartCook</a>
				<p>献立アプリ</p>
				<a href="https://github.com/keisuke-kk/st_cook">git hub</a>
			</div>
		</div>
		<div class="button">
			<a class="button__el" href="#index">▲</a>
		</div>
	</div>

	<div id="sec5">
		<div class="sec_el">Contact</div>
			<%= link_to "https://twitter.com/75dFCUmohNzeRfR" do %>
				<div class="contact">
					<div class="contact__image">
						<%= image_tag "twitter.jpg", class: "contact__image__el" %>
						<p>twitter</p>
					</div>
				</div>
			<% end %>
		<div class="button">
			<a class="button__el" href="#index">▲</a>
		</div>
	</div>
</div>